# dependencies
node_modules/
scenica/node_modules/
.pnp
.pnp.*

# Next.js
.next/
scenica/.next/
out/
scenica/out/

# Production
build/

# Misc
.DS_Store
*.pem
*.log

# Environment variables
.env*
scenica/.env*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
scenica/next-env.d.ts
